<main>
  <h1>Liste des articles</h1>

  <div class="content">
    <nav>
      <button title="Rafraichir">
        <fa-icon [icon]="faRotateRight"></fa-icon>
      </button>
      <a routerLink="add" class="button" title="Ajouter">
        <fa-icon [icon]="faPlus"></fa-icon>
      </a>
      <button title="Supprimer">
        <fa-icon [icon]="faTrashCan"></fa-icon>
      </button>
    </nav>
    <div class="error"></div>
    <table>
      <thead>
        <tr>
          <th class="name">Nom</th>
          <th class="price">Prix</th>
          <th class="qty">Quantité</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="name">Tournevis</td>
          <td class="price">3.89 €</td>
          <td class="qty">58</td>
        </tr>
        <tr>
          <td class="name">Marteau</td>
          <td class="price">7.89 €</td>
          <td class="qty">86</td>
        </tr>
        <tr>
          <td class="name">Vis</td>
          <td class="price">0.89 €</td>
          <td class="qty">858</td>
        </tr>
        <tr>
          <td class="name">Clou</td>
          <td class="price">0.9 €</td>
          <td class="qty">580</td>
        </tr>
      </tbody>
    </table>
  </div>
</main>
