<main>
  <h1>Mentions légales</h1>

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, quod
    itaque! Saepe.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla fugit enim
    quisquam praesentium iusto omnis sint pariatur. Expedita libero fugit ipsum
    animi quasi eligendi modi blanditiis illo quo illum dicta perspiciatis
    aperiam labore id, ratione, doloribus laboriosam. Perferendis, sequi quos.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, nam magni
    voluptatibus corporis possimus excepturi esse nobis labore asperiores! Illo
    a reiciendis veniam consectetur quam, mollitia consequatur est nihil
    incidunt ducimus accusamus vero totam quod natus temporibus nam vitae
    provident aperiam modi tenetur! Accusamus eaque optio porro maxime nesciunt
    repellat. Atque libero corrupti eum dignissimos est ipsum nisi, inventore
    blanditiis quibusdam. Nemo illum sapiente dignissimos consequuntur ipsa
    soluta, perferendis quis? Magni molestias ullam, dolorem esse perspiciatis
    in doloribus, minima vitae, iure nulla laborum maxime? Porro voluptatum,
    unde laboriosam, officia nobis culpa saepe dolorum tenetur autem similique
    doloremque alias incidunt qui!
  </p>
</main>
